{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Gamesets</h1>

      {% if gamesets_list %}
      <ul class="list-group">
        {% for gameset in gamesets_list %}
        <li>
          <a href="{% url 'gameset' %}?id={{ gameset.id }}">{{ gameset.name }}</a><br>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>There are no gamesets available.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
